#board {
    border: thin solid;
    width: 420px;
    height: 420px;
  }
  
  .casinha {
    width: 138px;
    height: 138px;
    float: left;
    border: thin solid;
    text-align: center;
    line-height: 138px;
    font-size: 70px;
  }
  
  .black {
    background: #000000;
    color: #ffffff;
  }
  
  
